@model IEnumerable<Shop.Models.Leaflet>

@{
    ViewBag.Title = "Lista ulotek";
}

<h2>Lista ulotek</h2>
<b>@TempData["message"]</b>

<p>
    @Html.ActionLink("Dodaj ulotkę", "Add")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LeafletTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductsId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Colour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Width)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Height)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LeafletTitle)
        </td>
        <td>
            <a href="/Products/Details/@item.ProductsId">@Html.DisplayFor(modelItem => item.ProductsId)</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Colour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Width)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Height)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Szczegóły", "Details", new { id=item.Id }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
