@model Shop.Models.Producer

@{
    ViewBag.Title = "Add";
}

<h2>Dodaj producenta</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Producer</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nazwa)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nazwa)
            @Html.ValidationMessageFor(model => model.Nazwa)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Adres)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Adres)
            @Html.ValidationMessageFor(model => model.Adres)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nip)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nip)
            @Html.ValidationMessageFor(model => model.Nip)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Regon)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Regon)
            @Html.ValidationMessageFor(model => model.Regon)
        </div>

        <p>
            <input type="submit" value="Dodaj" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Powrót do listy", "List")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
