@model Shop.Models.Producer

@{
    ViewBag.Title = "Details";
}

<h2>Detale</h2><br />

<fieldset>
    <legend>Producer</legend>

    <div class="display-label">
         <b>@Html.DisplayNameFor(model => model.Nazwa)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nazwa)
    </div>

    <div class="display-label">
         <b>@Html.DisplayNameFor(model => model.Adres)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Adres)
    </div>

    <div class="display-label">
         <b>@Html.DisplayNameFor(model => model.Nip)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nip)
    </div>

    <div class="display-label">
         <b>@Html.DisplayNameFor(model => model.Regon)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Regon)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Powrót do listy", "List")
</p>
