@model Shop.Models.Complaint

@{
    ViewBag.Title = "Dodaj reklamację";
}

<h2>Dodaj reklamację</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Reklamacja</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrderId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OrderId)
            @Html.ValidationMessageFor(model => model.OrderId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SaleDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SaleDate)
            @Html.ValidationMessageFor(model => model.SaleDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Invoice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Invoice)
            @Html.ValidationMessageFor(model => model.Invoice)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProductName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProductName)
            @Html.ValidationMessageFor(model => model.ProductName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DamageDesc)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.DamageDesc)
            @Html.ValidationMessageFor(model => model.DamageDesc)
        </div>

        <p>
            <input type="submit" value="Dodaj" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Lista", "List")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
