@model Shop.Models.Products

@{
    ViewBag.Title = "Detale";
}

<style>
    .display-label {
        font-weight: bold;
    }
</style>

<h2>Detale</h2>

<fieldset>
    <legend>Detale</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProductName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductName)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.ProducerId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProducerId)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.KategoriaId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.KategoriaId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Quantity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Quantity)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Code)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Code)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VAT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VAT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AddDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AddDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Powrót do listy", "List")
</p>
