@model Shop.Models.Order

@{
    ViewBag.Title = "Dodaj zamówienie";
}

<h2>Dodaj zamówienie</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Zamówienie</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProductsId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProductsId)
            @Html.ValidationMessageFor(model => model.ProductsId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Quantity)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Quantity)
            @Html.ValidationMessageFor(model => model.Quantity)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Phone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Phone)
            @Html.ValidationMessageFor(model => model.Phone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ShippingDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ShippingDate)
            @Html.ValidationMessageFor(model => model.ShippingDate)
        </div>

        <p>
            <input type="submit" value="Dodaj" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Lista zamówień", "List")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
