@model Shop.Models.Promotion

@{
    ViewBag.Title = "Szczegóły promocji";
}

<style>
    label
    {
        display: inline
    }
    .data
    {
        font-size: 20px
    }
</style>

<h2>Szczegóły promocji</h2>

<table>
    <tr>
        <td>
            @Html.LabelFor(model => model.PromotionTitle)
        </td>
        <td>
            <b class="data">@Html.DisplayFor(model => model.PromotionTitle)</b>
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.ProductsId)
        </td>
        <td>
            <b class="data">@Html.DisplayFor(model => model.ProductsId)</b>
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.DiscountPercent)
        </td>
        <td>
            <b class="data">@Html.DisplayFor(model => model.DiscountPercent)</b>
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.BeginningDate)
        </td>
        <td>
            <b class="data">@Html.DisplayFor(model => model.BeginningDate)</b>
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.EndDate)
        </td>
        <td>
            <b class="data">@Html.DisplayFor(model => model.EndDate)</b>
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.MaxQuantity)
        </td>
        <td>
            <b class="data">@Html.DisplayFor(model => model.MaxQuantity)</b>
        </td>
    </tr>
</table>

<div>
    @Html.ActionLink("Powrót do listy", "List")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
